matplotlib
seaborn
numpy
pandas
dill
torch
torcheval
torchvision
openai
datasets
codecarbon
knockknock
scikit-learn
httpx
transformers
wandb
tqdm
tiktoken
optimum
evaluate
relplot
huggingface_hub
protobuf
safetensors
scipy
tokenizers
sentencepiece
pudb